Package: xyz.henryli17.easysearchdismissal
Name: EasySearchDismissal
Version: 0.0.1
Architecture: iphoneos-arm
Description: Dismiss the the search bar by pressing 'Search' on the bottom right of your keyboard even if the search bar is empty.
Maintainer: Henry Li
Author: Henry Li
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 13.0)
Depiction: https://henryli17.github.io/repo/depictions/?p=xyz.henryli17.easysearchdismissal