Package: xyz.henryli17.easysearchdismissal
Name: EasySearchDismissal
Version: 0.0.6
Architecture: iphoneos-arm
Description: Dismiss an empty search bar by pressing 'Search' on the bottom right of your keyboard.
Maintainer: Henry Li
Author: Henry Li
Section: Tweaks
Depends: mobilesubstrate
Depiction: https://henryli17.github.io/repo/depictions/?p=xyz.henryli17.easysearchdismissal